body {
    margin: 0;
    margin-left: 30px;
    padding: 0;
    background-color: #3c3c3c;
  }

  button{

    width: 100px;

  }
  
  .CharacterList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
  }
  
  h1 {
    color: white;
    text-align: center;
    width: 100%;
    font-weight: lighter;
    font-size: 50px;
  }
  
  