.catalog {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 20px;
}

.product-card{
    margin-bottom: 10px;
    width: 280px;
    height: 300px;
    border: 0.5px solid #d0bdf4;
    box-sizing: border-box;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    overflow: hidden;
    cursor: pointer;
    margin-left: 8px;
    position: relative;
    padding-bottom: 20px;
}

.product-img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.product-img:hover{
    opacity: 0.5;
    transition: 1s;
}

.product-alt {
    width: 100%;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    text-align: center;
    justify-self: center;
    overflow: hidden;
    margin-top: 10px;
}

.product-button{
    padding: 5px;
    position: absolute;
    left: 30%;
}